body{
    background-color:rgb(253, 247, 253);
    
}


.cnavbar{
    color: #ffffff;
    font-weight: 600;
    background-color:rgb(202, 199, 202);
    }

.headliner{
    color: rgb(87, 46, 126);
}

.pinkbg{
    background-color:rgb(247, 233, 247);
}
